@mixin font-light(){
  font-family: 'Lato-Light', sans-serif;
}
@mixin font-regular(){
  font-family: 'Lato-Regular', sans-serif;
}
@mixin font-bold(){
  font-family: 'Lato-Bold', sans-serif;
}
@mixin font-italic(){
  font-family: 'Lato-Italic', sans-serif;
}
@mixin btn-pokedex {
  height: 44px;
  background: #f22539;
  border-radius: 60px;
  font-size: 18px;
}
